In [1]:
# 구구단 2단
i = 1
while i < 10:
    print(i*2)
    i += 1

2
4
6
8
10
12
14
16
18

In [ ]:
# 프로그램을 만들려면 가장 먼저 "입력"과 "출력"을 생각하라.
# 함수 이름 : gugu
# 입력받는 값 : 2
# 출력하는 값 : 2, 4, 6, 8, 10, ..., 18
# 결과는 리스트 형태로 저장

In [4]:
def gugu(n):
    result = []
    result.append(n*1)
    result.append(n*2)
    result.append(n*3)
    result.append(n*4)
    result.append(n*5)
    result.append(n*6)
    result.append(n*7)
    result.append(n*8)
    result.append(n*9)
    return result
    
print(gugu(10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [5]:
def gugu(n):
    result = []
    i = 1
    while i < 10:
        result.append(n*i)
        i += 1
    return result

In [6]:
print(gugu(5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [14]:
def save(n):
    res = []
    i = 0
    while i < 100:
        res.append(i+10)
        i += 10
    return res

In [15]:
save(10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# 3와 5의 배수 합하기
# 10 미만의 자연수에서 3과 5의 배수를 구하면 3, 5, 6, 9이다. 이들의 총합은 23이다.
# 100 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하라.

In [1]:
n = 1
while n < 100:
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
for i in range(1, 100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
for n in range(1, 100):
    if n % 3 == 0:
        print(n)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [4]:
for n in range(1, 100):
    if n % 5 == 0:
        print(n)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [5]:
result = 0
for n in range(1, 100):
    if n % 3 == 0 or n % 5 == 0: 
        result += n
print(result)

2318

In [1]:
# Recursion Example
# https://www.w3schools.com/python/python_for_loops.asp

def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return(result)

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [2]:
tri_recursion(10)

1
3
6
10
15
21
28
36
45
55

55

In [ ]:
# 정규 표현식

In [32]:
data = """
park 800905-1049118
kim  700905-1059119
"""

In [31]:
data = """
park 800905-1049118
kim  700905-1059119
"""

result = []
for line in data.split("\n"):
    word_result = []
    for word in line.split(" "):
        if len(word) == 14 and word[:6].isdigit() and word[7:].isdigit():
            word = word[:6] + "-" + "*******"
        word_result.append(word)
    result.append(" ".join(word_result))
print("\n".join(result))

park 800905-*******
kim  700905-*******

In [34]:
data = """
park 800905-1049118
kim  700905-1059119
"""
data.split("\n")
data

'\npark 800905-1049118\nkim  700905-1059119\n'

In [35]:
import re 

data = """
park 800905-1049118
kim  700905-1059119
"""

pat = re.compile("(\d{6})[-]\d{7}")
print(pat.sub("\g<1>-*******", data))

park 800905-*******
kim  700905-*******