In [1]:
dict = {
    "대전" : 23,
    "서울" : 30,
    "구미" : 20
}
print(dict)

{'대전': 23, '서울': 30, '구미': 20}

In [2]:
print(type(dict))

<class 'dict'>

In [3]:
print(dict["대전"])
print(dict["구미"])

23
20

In [4]:
# Q1
# 1. 평균을 구하시오.

score = {
    "국어" : 87,
    "영어" : 92,
    "수학" : 40
}

print(score.values())

dict_values([87, 92, 40])

In [5]:
sco = 0
for i in score.values():
    sco = sco + i
print(sco/len(score.values()))

73.0

In [6]:
scores = 0
for i in score.values():
    scores = scores + i
    mean = scores/len(score.values())
print(mean)

73.0

In [7]:
len(score.values())

3

In [8]:
value = 0
for i in score.values():
    value = value + i
    mean = value/len(score.values())
print(mean)

73.0

In [9]:
# 2. 반 평균을 구하시오
scores = {
    "철수" : {
        "수학" : 80,
        "국어" : 90,
        "음악" : 100
    },
    "영희" :  {
        "수학" : 70,
        "국어" : 60,
        "음악" : 50
    }
}
print(scores)

{'철수': {'수학': 80, '국어': 90, '음악': 100}, '영희': {'수학': 70, '국어': 60, '음악': 50}}

In [10]:
print(scores.values())

dict_values([{'수학': 80, '국어': 90, '음악': 100}, {'수학': 70, '국어': 60, '음악': 50}])

In [11]:
total_s = 0
count = 0
for i in scores.values():
    for n in i.values():
        total_s = total_s + n
        count += 1
    mean_s = total_s/count
    print(mean_s)

90.0
75.0

In [12]:
total_score = 0
count = 0
for per_score in scores.values():
    for ind_score in per_score.values():
        total_score += ind_score
#       total_score = total_score + ind_score(위와 같은 식! 누적된다는 의미)
        count += 1
mean_score = total_score / count
print(mean_score)

75.0

In [13]:
# 3. 도시 중에 최근 3일 중에 가장 추웠던 곳, 가장 더웠던 곳은?
cities = {
    "서울": [-6, -10, 5],
    "대전": [-3, -5, 2],
    "광주": [0, -2, 10],
    "부산": [2, -2, 9]
}

#  cities.items() 로 name과 temp값 가져오기!
print(cities.items())

dict_items([('서울', [-6, -10, 5]), ('대전', [-3, -5, 2]), ('광주', [0, -2, 10]), ('부산', [2, -2, 9])])

In [14]:
for name, temp in cities.items():
    print(cities.items())

dict_items([('서울', [-6, -10, 5]), ('대전', [-3, -5, 2]), ('광주', [0, -2, 10]), ('부산', [2, -2, 9])])
dict_items([('서울', [-6, -10, 5]), ('대전', [-3, -5, 2]), ('광주', [0, -2, 10]), ('부산', [2, -2, 9])])
dict_items([('서울', [-6, -10, 5]), ('대전', [-3, -5, 2]), ('광주', [0, -2, 10]), ('부산', [2, -2, 9])])
dict_items([('서울', [-6, -10, 5]), ('대전', [-3, -5, 2]), ('광주', [0, -2, 10]), ('부산', [2, -2, 9])])

In [15]:
test_list = ['one', 'two', 'three']
test_list.append('four')
print(test_list)

['one', 'two', 'three', 'four']

In [16]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [17]:
test_list = ['one', 'two', 'three']
for i in test_list:
        print(i)

one
two
three

In [18]:
a = [(1,2), (3,4),(5,6)]
for (first,last) in a:
    print(first*last)

2
12
30

In [19]:
marks = [90, 25, 67, 45, 80]

num = 0
for i in marks:
    num += 1
    if i >= 60 :
        print(f"{num}번 학생은 합격")
    else:
        print(f"{num}번 학생은 불합격")

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 불합격
5번 학생은 합격

In [20]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [21]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60: continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [22]:
a = range(10)
print(a)

range(0, 10)

In [23]:
a = range(1,11)
print(a)

range(1, 11)

In [24]:
sum = 0
for i in a:
    sum += i
print(sum)

55

In [25]:
b = range(1, 101)

plus = 0
for i in b:
    plus = plus + i
print(plus)

5050

In [26]:
marks = [90, 25, 67, 45, 80]
print(len(marks))

5

In [27]:
for i in range(len(marks)):
    if marks[i] < 60:
        continue
    else :
        print(f"{i+1}번 학생은 합격")

1번 학생은 합격
3번 학생은 합격
5번 학생은 합격

In [28]:
gu = range(1,10)

for i in gu:
    for num in gu:
        print(i*num, end = " ")
    print(' ')

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [29]:
gu = range(1,10)

for i in gu: 
     for j in gu: 
         print(i*j, end=" ") 
     print('')

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [30]:
for i in range(2,10):
    for n in range(1,10):
        print(i * n, end = " ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [31]:
c = [14, 29, 310, 836]

result = []
for i in c:
    result.append(i * 5)
print(result)

[70, 145, 1550, 4180]

In [32]:
numbers_list = [1,2,3,4,5]
numbers_list.append(6)
numbers_list.append(7)
numbers_list.append(8)
numbers_list.remove(7)
print(numbers_list)

[1, 2, 3, 4, 5, 6, 8]

In [33]:
# 리스트 안에 for문 포함하기!
d = [1,2,3,4]

result = [i*3 for i in d]
print(result)

[3, 6, 9, 12]

In [34]:
d = [1,2,3,4]
res = [n*3 for n in d if n%2 == 0]
print(res)

[6, 12]

In [51]:
# ex1
for i in range(1, 16):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [36]:
# ex2
sum = 0
for i in range(1, 1001):
    if i%5 == 0:
        sum = sum+i
print(sum)

100500

In [37]:
# ex3
# 방법 1
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in A:
    sum = sum + i
print(sum/len(A))

# 방법 2
total = 0
for n in A:
    total += n
average = total/len(A)
print(average)

79.0
79.0

In [38]:
# ex4
# 다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다.
# for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.
bt = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

# 방법 1
a = 0
b = 0
ab = 0
o = 0

for i in bt:
    if i == 'A':
        a += 1
    elif i == 'B':
        b += 1
    elif i == 'AB':
        ab += 1
    else:
        o += 1
print(f"A형은 {a}명, B형은 {b}명, AB형은 {ab}명, O형은 {o}명입니다!!!!!!!")

A형은 3명, B형은 3명, AB형은 3명, O형은 3명입니다!!!!!!!

In [39]:
# 방법 2
data = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

result = {}
for blood_type in data:
    if blood_type in result:  # 키 값이 존재하는 경우에는 기존 값에 더함
        result[blood_type] += 1
    else:  # 키 값이 없는 경우에는 새로운 키 생성
        result[blood_type] = 1

print(result)  # {'A': 3, 'B': 3, 'O': 3, 'AB': 3} 출력

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}

In [40]:
# Q5
# 리스트 중에서 홀수에만 2를 곱하여 리스트로 저장하는 코드
# 방법 1
numbers = [1, 2, 3, 4, 5]

result = []
for i in numbers:
    if i%2 == 1:
        result.append(i*2)
print(result)

[2, 6, 10]

In [41]:
# 위 코드를 리스트 내포(list comprehension)를 이용하여 표현하시오.
# 방법 2
numbers = [1, 2, 3, 4, 5]

result = [i*2 for i in numbers if i%2 != 0]
print(result)

[2, 6, 10]

### 제어문

In [48]:
# Q1
# 자연수 n이 주어졌을 때, 1부터  N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오
item = int(input("번호를 입력하세요 : "))
for i in range(1, item + 1):
    print(i)

번호를 입력하세요 : 5
1
2
3
4
5

In [49]:
n = int(input('숫자를 입력하세요: '))
for i in range(n):
    print(i+1)

숫자를 입력하세요: 7
1
2
3
4
5
6
7

In [50]:
item = int(input("번호를 입력하세요 : "))
for i in range(item) : 
    print(i+1)

번호를 입력하세요 : 9
1
2
3
4
5
6
7
8
9

In [45]:
# Q2
# 투자 경고 종목 리스트가 있을 때, 사용자로부터 종목명을 입력받은 후 해당 종목이 
# 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면
# "투자경고 종목이 아닙니다"를 출력하는 프로그램을 작성하라

warn_investment_list = ["microsoft", "google", "naver", "kakao", "samsung", "lg"]
print(f"경고 종목 리스트: {warn_investment_list}")
item = input('투자종목이 무엇입니까?: ')

# A 1
if item in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

# A 2
if item.lower() in warn_investment_list:
    print("WARNING!")
else:
    print("SAFE")

경고 종목 리스트: ['microsoft', 'google', 'naver', 'kakao', 'samsung', 'lg']
투자종목이 무엇입니까?:
투자 경고 종목이 아닙니다
SAFE

In [46]:
# Q3
# 다음 리스트에서 0, 4, 5번째 항목을 제외한 리스트를 출력하시오
colors = ['Apple', 'Banana', 'Coconut', 'Deli', 'Ele', 'Grape']
del_list = [0, 4, 5]
fruit = []

for i in range(len(colors)):
    if i not in del_list:
        fruit.append(colors[i])
print(fruit)

['Banana', 'Coconut', 'Deli']

In [47]:
# 다음 리스트에서 0, 4, 5번째 항목을 제외한 리스트를 출력하시오
colors = ['Apple', 'Banana', 'Coconut', 'Deli', 'Ele', 'Grape']
del_list = [0, 4, 5]

fruit = []
for i in range(len(colors)):
    if i not in del_list:
        fruit.append(colors[i])
print(fruit)

['Banana', 'Coconut', 'Deli']