In [1]:
grade = {'pey': 10, 'julliet': 99}

In [2]:
grade.values()

dict_values([10, 99])

In [8]:
multiline = "Life is too short\n You need python"
print(multiline)

Life is too short
 You need python

In [4]:
multiline='''
    Life is too short
    You need python
    '''

In [6]:
print(multiline)

    Life is too short
    You need python

In [9]:
head = "Python"
tail = " is fun!"
head+tail

'Python is fun!'

In [10]:
head * 2

'PythonPython'

In [13]:
print("=" * 50)
print("                  My Program")
print("=" * 50)

==================================================
                  My Program
==================================================

In [15]:
a = "Life is too short, You need Python"
len(a)

34

In [19]:
a[3] # 파이썬은 0부터 숫자를 센다.

'e'

In [18]:
a[18:23]

' You '

In [20]:
a[-3]

'h'

In [22]:
a[-29]

'i'

In [23]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [24]:
a[0:4]

'Life'

In [26]:
a[12:17]

'short'

In [27]:
a[:17]

'Life is too short'

In [28]:
a[:]

'Life is too short, You need Python'

In [29]:
a[19:-7]

'You need'

In [32]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date

'20010331'

In [33]:
weather

'Rainy'

In [34]:
year = a[:4]
year

'2001'

In [35]:
day = a[4:8]
day

'0331'

In [36]:
a = "Pithon"

In [39]:
a[0]+"y"+a[2:]

'Python'

In [40]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [41]:
"현재 온도는 %d도입니다." % 20

'현재 온도는 20도입니다.'

In [42]:
"I eat %s apples." % "five"

'I eat five apples.'

In [43]:
number = 5
"I eat %s apples." % number

'I eat 5 apples.'

In [45]:
num = 3 
day = "three"

In [46]:
"I ate %d apples. so I was sick for %s days." % (num, day)

'I ate 3 apples. so I was sick for three days.'

In [47]:
f"I ate {num} apples. so I was sick for {day} days."

'I ate 3 apples. so I was sick for three days.'

In [ ]:
# 문자열 포맷 코드

# 코드	설명
# %s	문자열 (String)
# %c	문자 1개(character)
# %d	정수 (Integer)
# %f	부동소수 (floating-point)

In [48]:
"rate is %s" % 3.234

'rate is 3.234'

In [49]:
"I have %s apples" % 3

'I have 3 apples'

In [50]:
"Error is %d%%." % 98

'Error is 98%.'

In [51]:
"%10s" % "hi"

'        hi'

In [52]:
"%-10sjane." % 'hi'

'hi        jane.'

In [53]:
"%0.4f" % 3.42134234

'3.4213'

In [54]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [58]:
"{{ and }}".format()

'{ and }'

In [59]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [60]:
a = "hobby"
a.count('b')

2

In [61]:
a = "Python is the best choice"
a.find('b')

14

In [63]:
a.find('t')

2

In [64]:
a = "Life is too short"
a.index('t')

8

In [65]:
",".join('abcd')

'a,b,c,d'

In [66]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [67]:
a = "python"
a.upper()

'PYTHON'

In [68]:
a.lower()

'python'

In [69]:
a = "   python"
a.lstrip()

'python'

In [70]:
a = "youth      "
a.rstrip()

'youth'

In [71]:
b = "             vacation    "
b.strip()

'vacation'

In [72]:
a = "Life is too short"
a.replace("Life", "Your tongue")

'Your tongue is too short'

In [73]:
",".join('python')

'p,y,t,h,o,n'

In [74]:
a = "python"
",".join(a)

'p,y,t,h,o,n'

In [75]:
a.replace("y","i")

'pithon'

In [76]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [77]:
a = "a:b:c:d"
a.split(':')
# 괄호 안에 특정한 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나누어 준다. 
# 이렇게 나눈 값은 리스트에 하나씩 들어가게 된다.

['a', 'b', 'c', 'd']

In [82]:
# [문제1] 문자열 나누기
# 홍길동씨의 주민등록번호(881120-1068234)를 연월일(YYMMDD) 부분과 
# 그 뒤의 숫자 부분으로 나누어 출력해 보자.

hong = '881120-1068234'
hong[:6]

'881120'

In [84]:
hong[7:]

'1068234'

In [86]:
hong.split('-')

['881120', '1068234']

In [85]:
# [문제2] 문자열 인덱싱
# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 
# 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"

In [88]:
pin[7]

'1'

In [91]:
# [문제3] 문자열의 split과 join 함수를 이용하여 위 문자열을 다음과 같이 고치시오.
# a:b:c:d -> a#b#c#d

line = "a:b:c:d"
line.split(":")

['a', 'b', 'c', 'd']

In [92]:
line = line.split(":")
"#".join(line)

'a#b#c#d'

In [93]:
# [문제4] 문자열의 replace 함수를 이용하여 위 문자열을 다음과 같이 고치시오.
# a:b:c:d -> a#b#c#d

line = "a:b:c:d"

In [94]:
line.replace(":","#")

'a#b#c#d'