## List 자료형

In [48]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [2]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[3][2]

'c'

In [3]:
a[3][:2]

['a', 'b']

In [4]:
a = [1, 2, 3]
b = [4, 5, 6]
a+b

[1, 2, 3, 4, 5, 6]

In [6]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
len(a)

3

In [8]:
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
str(a[2]) + "hi"

'3hi'

In [10]:
a[2] = 4
a

[1, 2, 4]

In [11]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

### 리스트 관련 함수들

In [12]:
# 리스트에 요소 추가(append)
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [13]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [16]:
# 리스트 정렬(sort)
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [18]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [19]:
# 리스트 뒤집기(reverse)
a = [5, 4, 3, 2, 1]
a.reverse()
a

[1, 2, 3, 4, 5]

In [20]:
# 위치 반환(index)
a = [1, 2, 3, 4, 5]
a.index(3)

2

In [21]:
a.index(5)

4

In [22]:
a.index(1)

0

In [24]:
# 리스트에 요소 삽입(insert)
# insert(a, b) : 리스트의 a번째 위치에 b를 삽입하는 함수
a.insert(0, 0)
a

[0, 1, 2, 3, 4, 5]

In [25]:
a.insert(6, 6)
a

[0, 1, 2, 3, 4, 5, 6]

In [26]:
# 리스트 요소 제거(remove)
# remove(x) : 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [27]:
a.remove(3)
a

[1, 2, 1, 2]

In [28]:
# 리스트 요소 끄집어내기(pop)
# pop() : 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수
a = [1, 2, 3, 4, 5]
a.pop()

5

In [29]:
a

[1, 2, 3, 4]

In [30]:
# pop(x) : 리스트의 x번째 요소를 돌려 주고 그 요소는 삭제
a = [1, 2, 3, 4]
a.pop(2)

3

In [31]:
a

[1, 2, 4]

In [32]:
# 리스트에 포함된 요소 x의 개수 세기(count)
a = [1,2,2,3,1,2,3,1]
a.count(3)

2

In [33]:
a.count(2)

3

In [34]:
# 리스트 확장(extend)
a = [1, 2, 3, 4]
a. extend([5, 6])
a

[1, 2, 3, 4, 5, 6]

In [35]:
b = [7, 8]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
a = [1,2,3]
a += [4, 5]
a

[1, 2, 3, 4, 5]

In [39]:
# 연습문제 
# 리스트 조인
# 1. ['Life', 'is', 'too', 'short'] 라는 리스트를 
# Life is too short라는 문자열로 만들어 출력해 보자.
a = ['Life', 'is', 'too', 'short']
" ".join(a)

'Life is too short'

In [46]:
# 리스트 정렬
# 2. [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.
g = [1, 3, 5, 4, 2]
g.sort()
g.reverse()
g

[5, 4, 3, 2, 1]

In [47]:
g = [1, 3, 5, 4, 2]
g.sort(reverse=True)
g

[5, 4, 3, 2, 1]

## Tuple 자료형

In [49]:
# 얼핏 보면 튜플과 리스트는 비슷한 역할을 하지만 프로그래밍을 할 때 
# 튜플과 리스트는 구분해서 사용하는 것이 유리하다.
# 리스트의 항목값은 변경이 가능하고 튜플의 항목값은 변경이 불가능하다.

In [50]:
# 튜플 인덱싱
t1 = (1, 2, 'a', 'b')
t1[2]

'a'

In [51]:
t1[0]

1

In [52]:
# 슬라이싱
t1[1:]

(2, 'a', 'b')

In [56]:
t1[1:3]

(2, 'a')

In [57]:
# 튜플 더하기
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [58]:
# 튜플 곱하기
t2 * 3

(3, 4, 3, 4, 3, 4)

In [59]:
# 튜플 길이 구하기
len(t1)

4

In [62]:
# 연습문제 
# (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.
num = (1, 2, 3)
p = (4,)
num+p

(1, 2, 3, 4)

In [65]:
a = (1, 2, 3)
a = a + (4,)
a

(1, 2, 3, 4)

## Dictionary 자료형

In [67]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [68]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [69]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [70]:
list(a.keys())

['name', 'phone', 'birth']

In [71]:
# 1. 딕셔너리 만들기
dict = {'name' : '홍길동', 'birth': '1128', 'age' : '30'}

In [72]:
dict

{'age': '30', 'birth': '1128', 'name': '홍길동'}

In [74]:
a = {'A':90, 'B':80}
a.get('C',70)

70

## Set 자료형

In [75]:
s1 = set([1,2,3])

In [76]:
s1

{1, 2, 3}

In [77]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [ ]:
# set의 2가지 특징
# 1. 중복을 허용하지 않는다
# 2. 순서가 없다(Unordered)

In [78]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [79]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [80]:
# 교집합, 합집합, 차집합 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [81]:
# 1. 교집합
s1 & s2

{4, 5, 6}

In [82]:
s1.intersection(s2)

{4, 5, 6}

In [83]:
# 2. 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
s1 - s2

{1, 2, 3}

In [86]:
s2.difference(s1)

{7, 8, 9}

In [89]:
s1 = set([1, 2, 3, 4, 5, 6])
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [90]:
s1.update([8,9,10])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [93]:
s1.remove(3)
s1

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [97]:
# 연습문제
# 1. 중복을 허용하지 않는 집합 자료형의 특징을 이용하여 
# 다음 a 리스트에서 중복된 숫자들을 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
s = set(a)
s

{1, 2, 3, 4, 5}

In [100]:
# 2. 집합 만들기
# 값이 하나도 없는 비어있는 set을 만들어보자
a = set()
a

set()

In [101]:
type(a)

set