In [2]:
"""
파이썬  dictionary 활용 기초!
"""

dict = {
    "대전" : 23,
    "서울" : 30,
    "구미" : 20
}
# type을 알고 싶을 때
print(type(dict.values()))

<class 'dict_values'>

In [3]:
# 1. 평균 구하기
score = {
    '국어' : 87,
    '영어' : 92,
    '수학' : 40
}

In [4]:
print(score.values())

dict_values([87, 92, 40])

In [8]:
value = 0
for i in score.values():
    value += i
print(value/len(score.values()))

73.0

In [11]:
# 2. 반 평균을 구하시오
scores = {
    "철수" : {
        "수학" : 80,
        "국어" : 90,
        "음악" : 100
    },
    "영희" :  {
        "수학" : 70,
        "국어" : 60,
        "음악" : 50
    }
}

In [13]:
print(scores)

{'철수': {'수학': 80, '국어': 90, '음악': 100}, '영희': {'수학': 70, '국어': 60, '음악': 50}}

In [14]:
print(scores.values())

dict_values([{'수학': 80, '국어': 90, '음악': 100}, {'수학': 70, '국어': 60, '음악': 50}])

In [15]:
print(type(scores.values()))

<class 'dict_values'>

In [16]:
total = 0
count = 0 
for score in scores.values():
    for s in score.values():
        total += s
        count += 1
print(total/count)

75.0

In [17]:
total_score = 0
count = 0
for per_score in scores.values():
#    print(per_score)
    for ind_score in per_score.values():
        total_score += ind_score
#       total_score = total_score + ind_score(위와 같은 식! 누적된다는 의미)
        count += 1
mean_score = total_score / count
print(mean_score)

75.0

In [18]:
# 3. 도시 중에 최근 3일 중에 가장 추웠던 곳, 가장 더웠던 곳은?
cities = {
    "서울" : [-6, -10, 5],
    "대전" : [-3, -5, 2],
    "광주" : [0, -2, 10],
    "부산" : [2, -2, 9]
 }

In [19]:
for name, temp in cities.items():
    print(name, temp)

서울 [-6, -10, 5]
대전 [-3, -5, 2]
광주 [0, -2, 10]
부산 [2, -2, 9]

In [21]:
cities.values()

dict_values([[-6, -10, 5], [-3, -5, 2], [0, -2, 10], [2, -2, 9]])

In [22]:
min(cities.values())

[-6, -10, 5]

33

In [25]:
# ssafy_dictionary
ssafy = {
    "location": ["서울", "대전", "구미", "광주"],
    "language": {
        "python": {
            "frameworks": {
                "flask": "micro",
                "django": "full-functioning"
            },
            "data_science": ["numpy", "pandas", "scipy", "sklearn"]
        }
    },
    "duration": {
        "semester1": "6월까지"
    },
    "classes": {
        "seoul":  {
            "lecturer": "john",
            "manager": "pro",
        },
        "daejeon":  {
            "lecturer": "tak",
            "manager": "yoon",
        }
    }
}

In [ ]:
# ssafy의 semester1의 기간을 출력하세요.

In [ ]:
# ssafy의 dictionary 안에 들어있는 '대전'을 출력하세요

In [ ]:
# daejeon의 매니저의 이름을 출력하세요