**문제 3.**

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.
>
> 1. 입력된 수가 짝수라면 2로 나눕니다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
>
> 예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, collatz를 완성해 주세요.
>
> 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(626331) #=> -1
```

In [1]:
# 풀이
def collatz(number):
    for i in range(500):
        number = number /2 if number % 2 == 0 else number*3 + 1
        if number == 1:
            return i  + 1    # range 이기 때문
    return -1

# 500이 넘을 때까지 리턴값이 없으면 -1을 반환!

In [2]:
print(collatz(6))
print(collatz(16))
print(collatz(626331))

8
4
-1

In [1]:
# 과정 보여주기
def collatz(number):

    if number % 2 == 0:
        print(number // 2)
        return number // 2

    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        return result
    
n = input("숫자를 입력해 주세요 : ")
while n != 1:
    n = collatz(int(n))

숫자를 입력해 주세요 : 16
8
4
2
1

In [3]:
# count 결과 보여주기
# 잘못된 풀이
def collatz(number):
    count = 0
    if number % 2 == 0:
        print(number // 2)
        count = count + 1
        return count
        

    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        ccount = count + 1
        return ccount
    
n = input("숫자를 입력해 주세요 : ")
while n != 1:
    n = collatz(int(n))

숫자를 입력해 주세요 : 16
8

In [ ]:
print(collatz(6))
print(collatz(16))
print(collatz(626331))

**문제 4.**

> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다. 
>
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 
>
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
>
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.  

예시)

```python
lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4,4,4,3,3]) #=> [4,3]
```

In [5]:
# 풀이 
def lonely(liszt):
    ex_num = liszt[0]
    gongal = []
        for  num in liszt:
            if ex_num != num:
                gongal.append(num)
                ex_num = num
        return gongal

IndentationError: unexpected indent (<ipython-input-5-c542a9596377>, line 5)

In [2]:
# 여기에 코드를 작성하세요.
L = list(range(0, 10))
print(L)

def lonely(L):

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

**문제 5.**

> 영어 이름은 가운데 이름을 가지는 경우가 있는데
> 가운데 이름을 대문자 한글자로 축약해서 나타내는 함수 ' shorten '함수를 작성해보세요


예시)

```python
shorten('Alice betty catherine David') # => 'Alice B.C. David'
```

In [7]:
name = "Alice betty catherine David"
num_list = [name]
print(num_list)

['Alice betty catherine David']

In [52]:
name = "Alice betty catherine David"
name.split()

['Alice', 'betty', 'catherine', 'David']

In [41]:
name = "Alice betty catherine David"

def shorten(name):
    name = name.split()
    name = name[0], name[-1]
    return(name)

shorten(name)

('Alice', 'David')

In [40]:
def shorten(name):
    name = name.split()
    name = name[1:-1]
    return(name)

shorten(name)

['betty', 'catherine']

In [42]:
name = "Alice betty catherine David"

def shorten(name):
    name = name.split()
    middle = name[1:-1]

    name = name[0], middle ,name[-1]
    return(name)

shorten(name)

('Alice', ['betty', 'catherine'], 'David')

In [50]:
def shorten(name):
    names = []
    name = name.split()
    for i in name:
        if  i != name[0] and i != name[-1]:
            i = i[0].upper() + "."
            names.append(i)
        else:
            names.append(i)
    print(' '.join(names))
            
shorten("Alice betty catherine David")

Alice B. C. David

In [51]:
# 좋은 풀이

def shorten(name):
    names = name.split()
    for i in range(1, len(names)-1):
        names[i] = names[i][0].upper() + '.'
    return ' '. join(names)

shorten("Alice betty catherine David")

'Alice B. C. David'